name: Build & Auto Deploy to Minikube

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted   # IMPORTANT: Use your own runner!

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract short Git commit SHA
      id: vars
      run: echo "SHORT_SHA=${GITHUB_SHA::8}" >> $env:GITHUB_ENV

    - name: Build Docker images
      run: |
        docker build -t $env:DOCKER_USERNAME/$env:IMAGE_NAME:${SHORT_SHA} .
        docker build -t $env:DOCKER_USERNAME/$env:IMAGE_NAME:latest .

    - name: Push Docker images
      run: |
        docker push $env:DOCKER_USERNAME/$env:IMAGE_NAME:${SHORT_SHA}
        docker push $env:DOCKER_USERNAME/$env:IMAGE_NAME:latest

    - name: Auto Deploy to Minikube
      run: |
        kubectl set image deployment/sample-nestjs sample-nestjs=$env:DOCKER_USERNAME/$env:IMAGE_NAME:${SHORT_SHA} --namespace=default
        kubectl rollout status deployment/sample-nestjs --namespace=default
