name: Build & Deploy to Minikube

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract short SHA
      id: vars
      run: echo "SHORT_SHA=${GITHUB_SHA::8}" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:${SHORT_SHA} .
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:${SHORT_SHA}
        docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3

    - name: Create kubeconfig file
      run: |
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > kubeconfig

    - name: Update deployment image tag
      run: |
        sed -i "s|image:.*|image: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.IMAGE_NAME }}:${SHORT_SHA}|g" k8s/deployment.yaml

    - name: Apply Kubernetes manifests
      run: |
        KUBECONFIG=./kubeconfig kubectl apply -f k8s/
